.blog-creator{
    justify-content: center;
    margin: 5% 10%;
    text-align: center;
    align-items: center;
    width: 80%;
    color:#dcdcdc;
    font-family:'Times New Roman', Times, serif;
}

.blog-creator h1{
    margin-bottom: 3rem;
}

.blog-creator h2{
    font-weight: lighter;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    line-height: 1;
}

.create-blog-input{
    width: 30%;
    height: 3rem;
    border-radius: .5rem;
    color:#66222b;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    margin-bottom: 2rem;
}

.create-blog-steps-input{
    height: 2rem;
    border-radius: .5rem;
    background-color:#dcdcdc;
    border: none;
    border-bottom: 1px solid #ededed;
    line-height: 1;
    width: 80%;
    font-size: 1.2rem;
    font-weight: 300;
    color:#66222b;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    padding: 1rem;
    margin-bottom: 5rem;
}

.blog-instruction-steps{
    width: 80%;
    display: flex;
    margin:2% 10%;
    justify-content: space-between;
}

.new-steps{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 300;
    padding: .5rem;
   
    color: #c6c6c6;
    font-size: larger;
}

.step-remove-button{
    border-radius: 50%;
    color: #66222b;
    font-weight: bold;
    border: none;
    height: 1.5rem;
    text-align: center;
    align-items: center;
}

.step-remove-button:hover{
    font-weight:bolder;
    cursor: pointer;
    border: .15rem solid #dcdcdc;
}
    
.create-blog-steps-input:focus {
    outline: none;
    border-color: #c6c6c6;
}


.create-blog-input:focus {
    outline: none;
    border-color: #c6c6c6;
}

.ingredients{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.each-ingredient{
    border-radius: .3rem;
    color: #c6c6c6;
    margin: .1rem;
    text-align: start;
    font-size: larger;
    padding: .3rem 1rem;
}

.new-ingredient-button{
    border-radius: 50%;
    color: #66222b;
    font-weight: bold;
    border: none;
    font-size:1.5rem;
    text-align: center;
    align-items: center;
}

.new-ingredient-button:hover{
    font-weight:bolder;
    cursor: pointer;
    border: .15rem solid #dcdcdc;
}

.create-button{
    padding: .7rem 2rem;
    color:#66222b;
    font-size: larger;
    background-color:#dcdcdc;
    border: none;
    border-radius: .5rem;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
}

.create-button:hover{
    font-weight: bolder;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
    
.upload-button {
    padding: .5rem 1rem;
    color:#66222b;
    font-size: larger;
    background-color:#dcdcdc;
    border: none;
    border-radius: .5rem;
    font-family:'Times New Roman', Times, serif;
}

.upload-button:hover {
      font-weight: bolder;
}

.create-blog-image{
    width: 50%;
    height: auto;
    margin: 1rem 25%;
}

.blog-ingredients-container{
    width: 20%;
    margin: 2% 40%;
    height: auto;
    color:#66222b;
}

