.login-form {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input {
    width: 150%;
    height:3rem;
    margin: 1rem 0rem;
    border-radius: 0.5rem;
    border: 1px solid;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.form-button {
    width: 70%;
    height: 13%;
    border-radius: .3rem;
    border: 1px solid black;
    font-size: large;
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.form-button:hover {
   font-weight:bolder;
   border: 1px solid black;
   
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 1rem 0rem;
}



.popup-x{
    text-align: right;
    align-items:flex-end;
}

.PopUp {
    position: fixed;
    left: 8%;
    top: 10%;
    width: 80%;
    height: 50%;
    border-radius: 1em;
    box-shadow: -2px 5px 5px #8b4049;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #011627;
    padding: 1rem;
}

.create-account-element{
    border: 1px solid black;
    padding: .8rem 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    border-radius: .5rem;
    margin-top: 2rem;
}
.PopUp h3:hover{
    font-size: larger;
    cursor: pointer;
}

.popup-x{
    font-size: larger;
    border-radius: 50%;
    border: .5px solid black;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.popup-x:hover{
    font-weight: bolder;
    border: 1px solid black;
}

.line {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .line span { 
    background:#e2e2e2; 
    padding:0 10px; 
 }

 @media (min-width: 800px) {
    .PopUp{
        left: 25%;
        top: 15%;
        width: 50%;
        height: 60%;
    }
    .form-button{
        width: 80%;
        height: 10%;
        font-size: larger;
    }
    h2{
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .PopUp{
        left: 30%;
        top: 15%;
        width: 40%;
        height: 60%;
    }
    .form-button{
        width: 60%;
        height: 10%;
        font-size: larger;
    }
    h2{
        font-size: 20px
    }
}
