.recipe-card-item{
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 5rem 3rem;
    background-color:  #dcdcdc;  
    border-radius: .5rem;
    overflow: scroll;; 
}

.recipe-card-item:hover {
    box-shadow: 5px 13px 13px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

.card-image{
    border-radius: .5rem;
    margin: 1rem;
}

.read-more{
    background-color: rgb(255,255,255);
    padding: .5rem;
    text-decoration: underline;
    color:#F38C10;
    margin:1rem;
    width: 8rem;
    background-color: #dcdcdc; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.read-more:hover{
    font-weight:bold;
    cursor: pointer;
}

.title{
    margin:1rem;
    color: #F38C10;
    font-family: 'Times New Roman', Times, serif;
}

.description{
    margin: 1rem;
}