.recipe-card-item{
    display: flex;
    flex-direction: column;
    border: none;
    margin: 5rem 3rem; 
    border-radius: .5rem;
    overflow: scroll;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.recipe-card-item:hover {
    box-shadow: 5px 13px 13px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

.card-image{
    margin: 1rem;
}
.card-header{
    display: flex;
    justify-content: space-between;
    margin:1rem .5rem;
    padding: .5rem;
    color:#c6c6c6;
    
}

.add-button{    
    font-size: 30px;
    border: 1px solid #c6c6c6;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.add-button:hover{
    font-weight:bold;
    cursor: pointer;
    border: 1px solid #c6c6c6;
}


.read-more{
    width: 50%;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.read-more:hover{
    font-weight:bold;
    cursor: pointer;
}

.title{
    text-align: center;
    margin:1rem;
    color: #c6c6c6;
    font-family: 'Times New Roman', Times, serif;
}

.description{
    margin: 1rem;
}