.searchBar{
    display: grid;
    grid-template-columns: 100%;
    background-color: #66222b;
}

@media (min-width: 700px) {
    .searchBar{
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 1200px) {
    .searchBar{
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}