.blogs-card-item{
    display: flex;
    border: none;
    margin: 5rem 3rem;
    border-radius: .5rem;
    overflow: scroll;
}

.blogs-card-item:hover {
    box-shadow: 5px 13px 13px 13px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.blog-description{
    width: 50%;
    margin: 5% 10%;
    overflow: hidden;
    line-height: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: #dcdcdc;
    font-weight: lighter; 
}

.blog-title{
    text-align: center;
    width: 50%;
    margin: 5% 10%;
    overflow: hidden;
    line-height: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: #dcdcdc;
    font-weight: lighter;
}

.blog-image{
    margin: 1rem;
    width: 30%;
    height: 20%;
}

