.blog-creator{
    justify-content: center;
    margin: 5% 10%;
    text-align: center;
    align-items: center;
    width: 80%;
    color:#F38C10;
    font-family:'Times New Roman', Times, serif;
}

.blog-creator h2{
    font-weight: lighter;
    font-size: 1.5rem;
    margin-bottom: .1rem;
    line-height: 1;
}

.create-blog-input{
    width: 30%;
    height: 3rem;
    border-radius: .5rem;
    color:#F38C10;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
}

.create-blog-input:focus {
    outline: none;
    border-color: #c6c6c6;
}

.ingredients{
    width: 20%;
    margin: 1% 40%;
}

.each-ingredient{
    width: 15rem;
    height: 2rem;
    border-radius: .3rem;
    background-color:#dcdcdc;
    margin: .1rem;
    text-align: start;
    font-size: larger;
}

.new-ingredient-button{
    font-size: larger;
    border: .1rem solid #F38C10;
    margin: 1% 49%;
    border-radius: 50%;
}

.new-ingredient-button:hover{
    font-weight:bolder;
    cursor: pointer;
    border: .15rem solid #F38C10;
}

.create-button{
    padding: .5rem 1rem;
    color: #F38C10; 
    font-size: larger;
    background-color:#dcdcdc;
    border: none;
    border-radius: .5rem;
}

.create-button:hover{
    font-weight: bolder;
}