.ingredients-PopUp {
    padding: 1.5rem;
    position: fixed;
    left: 40%;
    top: 25%;
    width: 20%;
    height: auto;
    border-radius: 1em;
    box-shadow: -2px 5px 5px #8b4049;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    color :#66222b;
    padding: 1rem;
    font-family:'Times New Roman', Times, serif;
}

.popUp-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 2000vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 5;
   
}
.add-ingredient-list{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    font-size: large;
}

.add-ingredients{
    font-size: larger;
    font-weight: bold;
    margin:.5rem;
    color :#66222b;
}

.ingredienst-form input{
    width: 100%;
    height: 2rem;
    border-radius: .3rem;
    border: 1px solid  #c6c6c6;
    font-size: larger;
    color :#66222b;
    font-family:'Times New Roman', Times, serif;
}

.ingredienst-form input:focus {
    outline: none;
    border-color: #c6c6c6;
}

.pop-up-button-container{
    margin-top: 2rem;
}

.pop-up-button-container button{
    padding: .5rem;
    margin: .5rem;
    border: 1px solid  #c6c6c6;
    border-radius: .3rem;
    font-size: large;
    font-weight: bold;
    color :#66222b;
    font-family:'Times New Roman', Times, serif;
}

.ing-remove-button{
    border-radius: 50%;
    color: #66222b;
    font-weight: bold;
    border: none;
    text-align: center;
    align-items: center;
}

.ing-remove-button:hover{
    font-weight:bolder;
    cursor: pointer;
    border: .15rem solid #dcdcdc;
}



