.formInput{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.searchForm input {
    border-radius: 0.5rem;
    border: 1px solid;
    height: 2.7rem;
    margin-right: 2rem;
    font-size: medium;
    width: 14rem;
    background-color:#dcdcdc;
}
select{
    margin-right: 2rem;
    border-radius: 0.5rem;
    border: 1px solid;
    height: 3rem;
    width: 15rem;
    font-size: medium;
    background-color:#dcdcdc;
}

input{
    background-color:#dcdcdc;
}

body{
    background-color:#66222b; ;
}

.search-button{
    background-color:#dcdcdc;
    height: 2rem;
    width: 3rem;
    border: none;
    border-radius: .5rem;
    margin: 10px;
    justify-content: center;

}

/* @media (min-width: 800px) {
    .text-header{
        padding: 6.5rem 2rem;
        line-height: 2rem;
        font-size: 1rem;
    }
    .navbar-element{
        margin-right: 2rem;
        font-size: 1.1rem;
    }
}

@media (min-width: 900px) {
    .text-header{
        padding: 8rem 3.5rem;
        line-height:  3rem;
        font-size: 1.5rem;
    }
    .navbar-element{
        margin-right: 3.5rem;
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
    .text-header{
        padding: 10rem 5rem;
        line-height: 3rem;
        font-size: 1.5rem;
    }
    .navbar-element{
        margin-right: 5rem;
        font-size: 1.5rem;
    }
} */


