.formInput{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}

.searchForm input {
    border-radius: 0.5rem;
    border: 1px solid;
    height: 2.7rem;
    margin-top: 2rem;
    font-size: medium;
    width: 14.5rem;
    background-color:#dcdcdc;
}
select{
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 1px solid;
    height: 3rem;
    width: 15rem;
    font-size: medium;
    background-color:#dcdcdc;
}

body{
    background-color:#66222b; ;
}

.search-button{
    background-color:#dcdcdc;
    height: 2rem;
    width: 3rem;
    border: none;
    border-radius: .5rem;
    margin: 10px;
    justify-content: center;

}
.searchBar{
    display: grid;
    grid-template-columns: 100%;
    background-color: #66222b;
}

@media (min-width: 700px) {
    .searchBar{
        grid-template-columns: 50% 50%;
    }
    .formInput{
        flex-direction: row;
    }
    .searchForm input{
        margin-top: 0rem;
        margin-right: 1rem;
    }
    .searchForm select{
        margin-top: 0rem;
        margin-right: 1rem;
    }
}

@media (min-width: 1200px) {
    .searchBar{
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    .formInput{
        flex-direction: row;
    }
    .searchForm input{
        margin-top: 0rem;
        margin-right: 2rem;
    }
    .searchForm select{
        margin-top: 0rem;
        margin-right: 2rem;
    }
}





